<launch>
  <!-- Start the image publisher -->
  <node name="usb_cam" pkg="usb_cam" type="usb_cam_node" output="screen" >
    <param name="video_device" value="/dev/video0" />
    <param name="image_width" value="640" />
    <param name="image_height" value="480" />
    <param name="pixel_format" value="yuyv" />
    <param name="camera_frame_id" value="yuyv" />
    <param name="io_method" value="mmap"/>
    <param name="autofocus" value="true"/>
  </node>

  <!-- <node pkg="ros_rtsp" name="camera_publisher" type="camera_publisher" args="0"/> -->
  <node pkg="nodelet" type="nodelet" name="standalone_nodelet" args="manager" output="screen"/>

	<node pkg="nodelet" type="nodelet" name="Image2RTSPNodelet" args="load image2rtsp/Image2RTSPNodelet standalone_nodelet" output="screen">
		
    <rosparam command="load" file="$(find ros_rtsp)/config/stream_setup.yaml" />

	</node>
</launch>
